* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font: 14px 'Segoe UI', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #222;
}

.modal-wrapper {
  position: fixed;
  left: 0;
  top:0;
  right: 0;
  bottom: 0;
  overflow: auto;
  padding: 60px 0;
  z-index: 410;
  display: flex;

  .modal-bg {
    position: fixed;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    background: #FFF;
    opacity: 0.7;
    z-index: 400;
  }

  .modal-window {
    z-index: 420;
    padding: 12px 20px 20px 20px;
    flex: 0 0 auto;
    min-width: 100px;
    background: #FFF;
    box-shadow: 0 10px 30px #00000021;
    border-radius: 5px;
    min-height: 50px;
    margin: auto;
    width: auto;
    position: relative;

    .close {
      position: absolute;
      width: 116px;
      height: 32px;
      border-radius: 40px;
      top: -40px;
      left: 0;
      border: 1px solid rgba(0, 0, 0, 0.2);
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 13px;
      padding-top: 0.1em;
      background: #FFF;
      cursor: pointer;
      transition: border 0.2s ease;
      user-select: none;

      &:hover {
        border-color: rgba(51, 0, 255, 0.37);
      }
    }
  }
}

body.modal {
  overflow: hidden;
}

.tsv {
  display: flex;

  .tsv-col {
    flex: 0 0 22px;
    text-align: center;
    border-radius: 2px;
    position: relative;

    &:not(.c0) {
      &:after {
        content: '';
        position: absolute;
        z-index: 1;
        left: -2px;
        right: -2px;
        bottom: -2px;
        top: -2px;
        border: 4px solid #6b8bff;
        border-radius: 4px;
        transition: opacity 0.1s ease;
        opacity: 0;
      }

      &:hover {
        &:after {
          opacity: 0.3
        }
      }

      &.current {
        &:after {
          opacity: 1;
        }
      }
    }

    &.c0 {
      flex: 0 0 102px;
      .name {
        justify-content: flex-start;
      }
    }

    .row {
      height: 22px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .value {
      background: #EEE;
    }
  }
}

.content {
  max-width: 1040px;
  margin: auto;
  padding: 0 20px;
}

.header-box {
  padding: 14px 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;

  .h1 {
    font-size: 24px;
    font-weight: 300;
  }
}

.query-box {
  padding: 18px;
  background: #FFF;
  box-shadow: 0 10px 30px #00000021;
  border-radius: 5px;
  margin-bottom: 30px;

  .row {
    display: flex;
    align-items: center;

    .next {
      flex: 0 0 auto;
      margin: 5px;
    }

    .col {
      flex: 0 0 auto;

      &.fix {
        min-width: 150px;
        margin-right: 16px;
      }

      &.genes {
        flex: 1 1 100%;
        position: relative;
        height: 100px;

        textarea {
          z-index: 200;
          position: absolute;
          top: 0;
        }
      }
    }
  }

  .radio-options {
    position: relative;
    z-index: 10;

    label {
      position: relative;
      display: flex;
      align-items: center;
      border-radius: 3px;
      margin: 0 0 8px 0;
      cursor: pointer;
      height: 28px;
      padding: 5px 10px 5px 7px;

      &:last-child {
        margin-bottom: 0;
      }

      input {
        margin-right: 4px;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          border: 1px solid #eee;
          background: transparent;
          border-radius: 4px;
          z-index: -1;
          transition: background 0.2s ease, border 0.2s ease;
        }

        &:checked {
          &:after {
            background: rgba(77, 144, 254, 0.2);
            border-color: rgba(51, 0, 255, 0.37);
          }
        }
      }

      &:hover {
        input:after {
          border-color: rgba(51, 0, 255, 0.37);
        }
      }

      span {
        position: relative;
        z-index: 10;
        padding-top: 0.08em;
        user-select: none;
      }
    }

    label + input[type="radio"]:checked {
      border-color: #000;
    }
  }

}

.info-box {
  .h2 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  p {
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 1.65em;
  }
}

textarea {
  min-height: 100px;
  resize: vertical;
  display: block;
}

.label {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  color: #777;
  margin-bottom: 12px;
}

.button {
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  color: #fff;
  display: block;
  border-radius: 4px;
  text-align: center;
  min-width: 120px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .08);
  overflow: hidden;
  padding: 8px 0;
  border: none;
  font-size: 13px;
  font-weight: 100;
  transition: box-shadow 0.2s ease, border 0.2s ease, background 0.2s ease;
  background: #6f5dff;

  &:hover {
    background: #5845ff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  }

  &.primary {
    background: #ff5d6c;
    border: 1px solid #ff5d6c;

    &:hover {
      border: 1px solid #b4424f;
      background: #ff2d41;
    }

    &:focus {
      border: 1px solid #b4424f;
      background: #ff2d41;
    }
  }
}

.form-control {
  width: 100%;
  -webkit-appearance: none;
  padding: 4px 8px;
  font-size: 13px;
  line-height: 1.4;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-top-color: silver;
  box-shadow: none;
  transition: box-shadow 0.2s ease;

  &:active, &:focus {
    outline: 0;
    border-color: #4d90fe;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
  }
}

$border: #ccddff;

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $border;
  background: #FFF;
  z-index: 20;
  margin-bottom: 20px;

  thead {
    background: rgba(77, 144, 254, 0.16);
    border-bottom: 1px solid $border;
  }

  tbody {
    tr {
      transition: background-color 0.25s ease;

      &:hover {
        background: rgba(77, 144, 254, 0.16);
      }
    }
  }

  tr {
    &:nth-child(2n) {
      background: #f6f8fa;
    }

    td, th {
      text-align: left;
      padding: .4rem .8rem;
      position: relative;

      &:not(:last-child) {
        border-right: 1px solid $border;
      }

      .cell {
        position: absolute;
        padding: .4rem .8rem;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        transition: box-shadow 0.25s ease;
        cursor: pointer;

        &:hover {
          box-shadow: inset 0 0 0 3px #7398ff;
        }

      }

      &.empty {
        display: none;
      }
    }
  }
}
